@{
    ViewData["Title"] = "View Expenses";
}

@model List<Expense> 

<div class="text-center">
    <h1 class="display-4">Expenses List</h1>

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var expense in Model)
        {
            <tr>
                <td>@expense.Description</td>
                <td>@expense.Amount.ToString("C")</td>
                <td>@expense.Date.ToShortDateString()</td>
                
                <td>
                    <form asp-action="Delete" asp-route-id="@expense.Id" method="post">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>